name: challenge1

on: push

jobs:
  job1:
    runs-on: ubuntu-latest
    steps:
    - name: Ubuntu Date
      run: date
  job2:
    runs-on: windows-latest
    steps:
    - name: Windows Date
      run: date
  job3:
    runs-on: macos-latest
    steps:
    - name: macOS Date
      run: date
  job4:
    runs-on: ubuntu-latest
    needs: [job1, job2, job3]
    steps:
    - name: Ubuntu Date
      run: echo "All Done!"